<div class="row">
  <div class="col text-center">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <a href="{{ path('statistics') }}">Statistics</a> -
      {% endif %}
      <a href="{{ path('faq') }}">FAQ</a> -
      <a href="{{ path('contact') }}">Contact</a>
  </div>
</div>
