{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
   <div class="col-12 d-flex justify-content-between align-items-center">
     <h1>User creation</h1>
   </div>
 </div>
 <div class="row">
    <div class="col-8">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit" name="button">Create</button>
        {{ form_end(form) }}
        <a href="{{ path('admin_users_index') }}">
            <button class="btn btn-primary mt-2" type="button" name="button">Back to list</button>
        </a>
    </div>
</div>
{% endblock %}
